@import "mocha.css";

* {
  font-family: "Source Sans Pro", "FontAwesome 6 Free";
}

#waybar {
  background: @crust;
  color: @text;
}

#workspaces button {
  border-radius: 0;
  color: @lavender;
}

#workspaces button.active {
  color: @sky;
}

#workspaces button.focused {
  background: @surface0;
}

#workspaces button:hover {
  background: @surface1;
  color: @sapphire;
}

#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#custom-darkmode,
#custom-layout,
#custom-lock,
#custom-nightlight,
#custom-notification,
#custom-scratchpad,
#custom-power,
#idle_inhibitor,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
  padding: 0rem 0.5rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#bluetooth {
  padding-left: 1rem;
}

#bluetooth.connected {
  color: @green;
}

#bluetooth.disabled {
  color: @overlay0;
}

#bluetooth.off {
  color: @maroon;
}

#clock {
  color: @lavender;
}

#custom-darkmode {
  color: @lavender;
  padding-left: 1rem;
}

#custom-nightlight {
  color: @lavender;
  padding-right: 1rem;
}

#custom-notification {
  color: @lavender;
  padding: 0 1rem;
}

#custom-notification.notification {
  color: @mauve;
  padding: 0 1rem;
}

#custom-scratchpad {
  color: @lavender;
}

#network,
#cpu,
#memory {
  color: @lavender;
}

#memory {
  padding-right: 1rem;
}

#pulseaudio {
  color: @teal;
  padding-right: 1rem;
}

#pulseaudio.muted {
  color: @red;
}
